<h1>Active notices</h1>
<%= render 'notices/notice_list', notices: @active_notices %>

<h1>Expired notices</h1>
<%= render 'notices/notice_list', notices: @expired_notices %>

<h1>Upcoming notices</h1>
<%= render 'notices/notice_list', notices: @upcoming_notices %>

<%= link_to "New notice", new_notice_path %>