<h1>Notices & Chat</h1>
<h4 class="subtitle is-4">Built in Rails with Devise & Bulma Only</h4>
<p>To demonstrate chat built as vanilla Rails as possible, as well as a notices feature with scheduling similar to drive-time suggestions.
  UI and Navigation UX is not indicative of a shipped version.</p>

<p>You're signed in as <%= current_driver.email %> <%= link_to "Log oot", destroy_driver_session_path, "data-turbo-method": :delete %></p>

<%= link_to "Chats", messages_path %><br><br>

<%= link_to "Notices", notices_path %>